# This makes travis use the thin image which boots faster
language: generic

# sudo:required is needed for trusty images
sudo: required

services:
  - docker

before_install:
  # Under Travis, the UID/GID aren't always 1000/1000.  When we
  # create a user inside our docker container, the UID/GID
  # needs to match the external UID/GID so that we can write
  # to the bind-mounted volume from inside the container.
  - sed -i -e "/useradd/i RUN groupadd -g $(id -g) mapbox" -e "s/useradd/useradd -u $(id -u) -g $(id -g)/" app/Dockerfile

install:
  - docker build -t mapbox/route-annotator:1.0 app/

notifications:
  email: true

before_script: cd app

script:
  - RUNPARAMS="--env=CXX=g++-5 --env=CC=gcc-5 --volume=${TRAVIS_BUILD_DIR}/app:/home/mapbox/route-annotator --workdir=/home/mapbox/route-annotator"
  - docker run ${RUNPARAMS} mapbox/route-annotator:1.0 bash -lc "npm install"
  # We do the download synchronously
  - docker run ${RUNPARAMS} mapbox/route-annotator:1.0 bash -lc "npm run test-setup"
  # Now run the demo server and detach
  - docker run ${RUNPARAMS} --publish=5000:5000 --detach mapbox/route-annotator:1.0 bash -lc "npm test"
  - sleep 2 # Wait for the daemon to start up
  - curl "http://localhost:5000/coordlist/7.422155,43.7368838;7.4230139,43.7369751"
  - docker logs $(docker ps -l -q)
  - docker stop $(docker ps -l -q)
